/task1/src/SimpleLangBaseListener.java
/task1/src/SimpleLangListener.java
/task1/src/SimpleLangVisitor.java
/task1/src/SimpleLangBaseVisitor.java
/task1/src/SimpleLang.tokens
/task1/src/SimpleLangLexer.tokens
/task1/src/SimpleLangLexer.interp
/task1/src/SimpleLangParser.java
/task1/src/SimpleLang.interp
/task1/src/SimpleLangLexer.java
